/* Generic overrides */
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  color:#00a;
  -webkit-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -o-transition: color 0.15s;
  transition: color 0.15s;
}
a:visited {
  color:#00a;
}
a:hover {
  color: #00a;
}

h1, h2, h3, #home .articles li a, #article .title a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #111; text-decoration:none;
}

nav {
  width:220px;
  font-size:14px;
}
nav p {
  margin-bottom:25px;
}

#home .articles li {
  margin-bottom: 30px;
}

#home .articles li a:hover {
  color: #00a;
}

#home .articles li a {
  font-size:22px;
  line-height: 24px;
}
#article .title {
  font-size:26px;
  line-height:1.2em;
}

h1 {
  font-size: 30px;
  line-height: 34px;
}

h2 {
  font-size:22px;
  line-height:23px;
}

h3 {
  font-size: 19px;
  line-height: 21px;
}

.ss-icon {
  font-size:30px;
  margin-right:2px;
}
.ss-icon a, .ss-icon a:focus, .ss-icon:visited {
  color:#ccc;
  text-decoration:none;
}
.ss-icon a:hover {
  color:#222;
}

.container {
  padding-top:40px;
}

#profile-image {
  width: 100px;
  height: 100px;
  margin-bottom:20px;
  border-radius:50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background: url("/images/kalv-100.png") no-repeat;
}

#home .articles span.date {
  color:#555;
}

#home .pagination li {
  display:inline;
  margin-right:5px;
}

#article .header {
  line-height: 18px;
  margin-bottom:40px;
}

#article .social-actions {
  margin-top:5px;
}

#article .date {
  color: #555;
}

#article #content {
  margin-top:10px;
}
#article #content p, #article #content, #article #content li {
  color:#111;
  font-size:16px;
  line-height:1.8em;
}

#article #content ul {
  list-style: square;
  margin-left: 20px;
}

#article pre {
  font-family: monospace;
  background: #ddd;
  font-size:13px;
  border-radius: 5px;
  padding: 5px;
  margin: 0 10px 20px 10px;
  white-space: pre-wrap;
}


hr {
  margin:0;
}

.draft {
  text-align:center;
  border: 1px solid #ccc;
  background-color: #eee;
  padding:5px;
  margin-bottom:10px;
}

/* tablet portrait */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  nav {
    position:relative;
    width:auto;
  }
}

/* mobile (Portrait)*/
@media only screen and (max-width: 767px) {
  nav {
    position:relative;
    width:auto;
  }
  .container {
    padding-top: 10px;
  }
  #article #content p {
    font-size: 14px;
  }
}

/* Mobile landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  nav {
    position:relative;
    width:auto;
  }
  .container {
    padding-top: 10px;
  }
}